@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}

.the-fucking-all-of-it {
    background-image: url("images/universe.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: "Comic Sans MS", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    padding: 0;
    justify-items: center;
    font-size: 1em;
}

.getdizzywithit {
    animation-name: gettinDizzy;
    animation-duration: 1.5s;
}

.bodyspooky {
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    padding: 0;
}

.bodyspookyextra {
    background-image: url("images/benharrisonspooky.png");
    background-repeat: repeat;
    background-size: 150px;
    background-attachment: fixed;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    padding: 0;
    animation: moveIt 13s linear infinite, enterBen 10s;
}

.quiz-container-spooky {
    background: white;
    border-radius: 10px;
    width: 700px;
    max-width: 95vw;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.quiz-header-spooky {
    padding: 30px;
    color: black;
}



.quiz-container {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 700px;
    max-width: 95vw;
    margin-top: 20px;
    font-size: .5em+1vw;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    align-self: center;
    box-shadow: -2px 2px #000000, -4px 4px #ff00fe, -6px 6px #000000, -8px 8px #ff00fe, -10px 10px #000000, -12px 12px #ff00fe, -14px 14px #000000, -16px 16px #ff00fe, -18px 18px #000000;
}

.site-header {
    padding: 60px;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: #1abc9c;
    color: white;
    font-size: 1.6em;
    position: relative;
    width: 100vw;
    align-items: center;
    background-image: url("images/flames.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    text-shadow: -2px 2px #ff0000, -4px 4px #ff00f7, -6px 6px #5d00ff, -8px 8px #0035ff, -10px 10px #00d3ff, -12px 12px #00ff22, -14px 14px #eeff00, -16px 16px #ff9800, -18px 18px #ff0000;
}

.site-header h1 {
}

.dragon-icon1 {
    width: 200px;
    float: right;
    margin-top: 0px;
}

.resultimg {
    width: 250px;
}

.dragon-icon2 {
    width: 200px;
    float: left;
    margin-top: 0px;
    transform: scaleX(-1);
}
.benharrison {
    width: 200px;
    float: left;
    margin-right: 50px;
}

.clawicon {
    width: 300px;
    margin-top: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
    .dragon-icon1 {
        float: none;
        width: 100px;
    }

    .dragon-icon2 {
        float: none;
        width: 100px;
    }

    .benharrison {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .site-header {
        font-size: .85em;
    }
}

.site-footer {
    padding: 20px;
    margin: 0;
    margin-top: auto;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 13px;
    position: relative;
    width: 100vw;
    grid-column: 1;
    background-image: url("images/footernight.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.quiz-header-above {
    color: white;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 10px #ff00fe, 0 0 10px #ff00fe, 0 0 10px #ff00fe, 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
}

.quiz-header {
    padding: 30px;
    color: white;
    text-shadow: 0 0 10px #ff00fe, 0 0 10px #ff00fe, 0 0 10px #ff00fe, 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
}

.quiz-header-end {
    padding: 30px;
    color: white;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 10px #ff00fe, 0 0 10px #ff00fe, 0 0 10px #ff00fe, 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000;
}

h2 {
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.3em;
    margin: 10px;
}
ul li label{
    cursor: pointer;
}
button {
    background-color: darkviolet;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    padding: 20px;
    box-shadow: 0 9px #999;
}
button:hover {
    background-color: black;
}
button:active{
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.annoyingbutton {
    display: none;
}

.sortofannoyingbutton {
    display: block;
}

@keyframes gettinDizzy{
    0% {
        transform: scaleX(1.5);
    }

    10% {
        transform: skewX(-40deg);
    }

    20% {
        transform: scaleX(.4);
    }

    30% {
        transform: skewY(-70deg);
    }

    40% {
        transform: scaleX(1.6);
    }

    50% {
        transform: skewX(-20deg);
    }

    60% {
        transform: scaleY(1.6);
    }

    70% {
        transform: skewY(-20deg);
        transform: skewX(50deg);
    }

    80% {
        transform: skewX(0deg);
        transform: skewY(0deg);
    }

    87% {
        transform: rotateX(-60);
    }

    87% {
        transform: rotateX(40);
    }

    100% {
        transform: skewY(0deg);
        transform: skewX(0deg);
    }

}

@keyframes enterBen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveIt {
    from {
        background-position: bottom left;
    }

    to {
        background-position: top right;
    }
}